body {
			padding-top: 70px;
			background-color: lightblue;
			font-family: 'Gochi Hand', cursive;
			font-size: x-large;
		}
h1 {
			text-align: center;
			color: red;
		}
img {
	width: 40%;
	height: 40%;
	margin-left: 30%;
}

/*@media (max-width: 768px) {
    nav.navbar-fixed-top {
    	position: relative;
    }

    body {
    	padding-top: 0px;
    }
}*/